@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.03rem;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.dark .post-content p {
    margin-bottom: 0.5rem;
    color: #dfcac7;
}

.post-content h1 {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: serif;
    margin-top: 1.5rem;
}

.dark .post-content h1 {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: serif;
    margin-top: 1.5rem;
    color: #dfd3c7;
}

.post-content h2 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-weight: 600;
}
.dark .post-content h2 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-weight: 600;
    color: #cfb3a7;
}

.post-content h3 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-weight: 100;
}

.dark .post-content h3 {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    font-weight: 100;
    color: #cfb3a7;
}

.post-content a {
    color: #448fef;
    text-decoration: none;
}

.post-content a:hover {
    color: #64afff;
    text-decoration: underline;
}
